@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

// Colors
$todo-primary: #855be6;
$todo-secondary: #a5a5a5;

// Custom css
body {
  height: 100vh;
}

.bg-todo-primary {
  background: white;
}

.todo-modal-header {
  background-color: $todo-primary;
  color: white;
}
.todo-title {
  font-weight: 900;
}
.todo-card-body {
  padding: 0.25rem;
  border-radius: 0.25rem;
}
.todo-active-menuitem {
  background-color: darken($todo-primary, 4);
}

.list-group-item {
  padding: 0.25rem 0.75rem !important;
}

.btn-primary {
  background-color: $todo-primary !important;
  border-color: $todo-primary !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-color: lighten($todo-primary, 5) !important;
}

// Bootstrap variable overrides
// Cards
$card-cap-bg: $todo-primary;
$card-cap-color: white !important;

$enable-shadows: true;
$enable-responsive-font-sizes: true;
$font-family-base: // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Lato",
  // Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue",
  Arial, sans-serif,
  // Emoji fonts
  "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol" !default;

// React Pro Sidebar variable overrides
$sidebar-bg-color: $todo-primary !default;
$sidebar-color: #ffffff !default;
$highlight-color: #d8d8d8 !default;
$submenu-bg-color: #2b2b2b !default;
$submenu-bg-color-collapsed: #2b2b2b !default;
$icon-bg-color: #a5a5a5 !default;
$icon-size: 35px !default;

@import "../node_modules/bootstrap/scss/bootstrap";
@import "~react-pro-sidebar/dist/scss/styles.scss";
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
