@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

// Custom css
body {
  height: 100vh;
}

// Bootstrap variable overrides
// $modal-backdrop-bg: #9c88ff;
// $modal-content-color: #9c88ff;
$enable-shadows: true;
$enable-responsive-font-sizes: true;
$font-family-base: // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Lato",
  // Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue",
  Arial, sans-serif,
  // Emoji fonts
  "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol" !default;

// React Pro Sidebar variable overrides
$sidebar-bg-color: #1d1d1d !default;

@import "../node_modules/bootstrap/scss/bootstrap";
@import "~react-pro-sidebar/dist/scss/styles.scss";
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
